<div class="educators">
{% set previousLocalCat = false %}
{% for artist in artists_educators %}
{% if (currentCategory == artist.category) %}
    {% if currentCategory != previousLocalCat %}
    <h1 class="text-uppercase">Guest artists for {{ currentCategory}}</h1>
    {% endif %}
    <div class="artist-educator">
        <div class="row">
            <div class="col-sm-3">
                <div class="headshot">
                    <img src="{{ artist.thumbnail.src|resize(165, 225) }}" class="post-thumb"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="description">
                    <h2>
                        <span class="text-uppercase">{{ artist.title }}</span><br/>
                        <small>{{ artist.types('position') }}</small>
                    </h2>
                    {{ artist.content }}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="favourite-product">
                    <img class="img-responsive" src="{{ artist.types('favourite-product') }}" />
                    <div class="caption-wrap"><div class="caption"><strong>{{ artist.types('favourite-product-caption') }}</strong></div></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% set previousLocalCat = artist.category %}
{% endfor %}
</div>
