<div class="generic-page bordered" id="videos">
    <div class="generic-content">
        <h2 class="text-uppercase">Videos</h2>
    </div>
    <div class="row">
        <div id="all-videos">
            <div class="col-md-4">
                <div class="video-group">
                    <div class="embedded-video" data-toggle="modal" data-target="#video-modal" data-src="{{ video['video-1-src'] }}">
                        <img class="img-responsive" src="http://img.youtube.com/vi/{{ video_1_id }}/mqdefault.jpg" />
                        <i class="glyphicon glyphicon-play-circle"></i>
                    </div>
                    <div class="video-caption">
                        <p>{{ video['video-1-caption'] }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="video-group">
                    <div class="embedded-video" data-toggle="modal" data-target="#video-modal" data-src="{{ video['video-2-src'] }}">
                        <img class="img-responsive" src="http://img.youtube.com/vi/{{ video_2_id }}/mqdefault.jpg" />
                        <i class="glyphicon glyphicon-play-circle"></i>
                    </div>
                    <div class="video-caption">
                        <p>{{ video['video-2-caption'] }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="video-group">
                    <div class="embedded-video" data-toggle="modal" data-target="#video-modal" data-src="{{ video['video-3-src'] }}">
                        <img class="img-responsive" src="http://img.youtube.com/vi/{{ video_3_id }}/mqdefault.jpg" />
                        <i class="glyphicon glyphicon-play-circle"></i>
                    </div>
                    <div class="video-caption">
                        <p>{{ video['video-3-caption'] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>